---
- name: MariaDB PowerDNS install
  apt:
    name: 
      - mariadb-server
      - pdns-server
      - pdns-backend-mysql
      - python3-mysqldb  
    state: present
    update_cache: yes

- name: create bd
  mysql_db:
    name: "{{ db_name }}"
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: create db user
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: "{{ db_name }}.*:ALL"
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Vérifier si les tables existent
  mysql_query:
    db: "{{ db_name }}"
    query: "SHOW TABLES;"
    login_unix_socket: /var/run/mysqld/mysqld.sock
  register: db_tables

- name: Importer le schéma SQL si la base est vide
  mysql_db:
    name: "{{ db_name }}"
    state: import
    target: /usr/share/doc/pdns-backend-mysql/schema.mysql.sql
    login_unix_socket: /var/run/mysqld/mysqld.sock
  when: db_tables.query_result[0] | length == 0

- name: Envoyer le fichier de config
  template:
    src: pdns.conf.j2
    dest: /etc/powerdns/pdns.conf
  notify: Redémarrer PowerDNS

- name: Lancer PowerDNS
  service:
    name: pdns
    state: started
    enabled: yes

- name: Créer la zone DNS principale
  command: "pdnsutil create-zone {{ zone_name }} ns1.{{ zone_name }}"
  when: inventory_hostname in groups['master']
  register: zone_result
  failed_when: false
  changed_when: "'Creating' in zone_result.stdout"

# On ajoute tous les enregistrements de la liste sur le Master
- name: Ajouter les enregistrements DNS
  command: "pdnsutil replace-rrset {{ zone_name }} {{ item.name }} A 3600 {{ item.ip }}"
  loop: "{{ dns_records }}"
  when: inventory_hostname in groups['master']
  register: record_result
  changed_when: "'replaced' in record_result.stdout or 'added' in record_result.stdout"