---
# ------- CONFIGURATION POSTGRESQL ---------

- name: Installer PostgreSQL et les dépendances Python
  apt:
    name:
      - postgresql-{{ postgresql_version }}
      - postgresql-contrib
      - python3-psycopg2
      - acl
    state: present
    update_cache: yes

- name: Configurer postgresql.conf (Écoute réseau)
  template:
    src: postgresql.conf.j2
    dest: "/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf"
    owner: postgres
    group: postgres
  notify: Restart Postgres

- name: Configurer pg_hba.conf (Autorisations réseau)
  template:
    src: pg_hba.conf.j2
    dest: "/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf"
    owner: postgres
    group: postgres
  notify: Restart Postgres

- name: Démarrer le service PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Créer l'utilisateur de base de données
  community.postgresql.postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    role_attr_flags: CREATEDB,NOSUPERUSER
  become: yes
  become_user: postgres

- name: Créer la base de données
  community.postgresql.postgresql_db:
    name: "{{ db_name }}"
    owner: "{{ db_user }}"
  become: yes
  become_user: postgres

# ------- CONFIGURATION REPMGR ---------

- name: Installer le paquet repmgr
  apt:
    name: "postgresql-{{ postgresql_version }}-repmgr"
    state: present
    update_cache: yes

- name: Créer l'utilisateur PostgreSQL pour repmgr
  community.postgresql.postgresql_user:
    name: repmgr
    password: "{{ repmgr_password | default('repmgr123') }}"
    role_attr_flags: SUPERUSER,REPLICATION
  become: yes
  become_user: postgres

- name: Créer la base de données repmgr
  community.postgresql.postgresql_db:
    name: repmgr
    owner: repmgr
  become: yes
  become_user: postgres

- name: Déployer le fichier de configuration repmgr.conf
  template:
    src: repmgr.conf.j2
    dest: "/etc/postgresql/{{ postgresql_version }}/main/repmgr.conf"
    owner: postgres
    group: postgres
    mode: 0644

- name: Vérifier si le nœud est déjà enregistré
  command:
    cmd: "psql -d repmgr -c 'SELECT count(*) FROM repmgr.nodes WHERE type=\\'primary\\''"
  register: primary_check
  become: yes
  become_user: postgres
  changed_when: false

- name: Enregistrer le nœud PRIMAIRE (seulement s'il n'y en a pas)
  command:
    cmd: "/usr/bin/repmgr -f /etc/postgresql/{{ postgresql_version }}/main/repmgr.conf primary register"
  become: yes
  become_user: postgres
  when: primary_check.stdout.find('0') != -1
