.idea/
/web/Backend/.env
**/*.tfvars
**/.terraform/*

# Ignore variables files
*/*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

# .tfstate files
*.tfstate
*.tfstate.*

*.pem
*.key
*.pub