launch=gmysql
gmysql-host=127.0.0.1
gmysql-user={{ db_user }}
gmysql-password={{ db_password }}
gmysql-dbname={{ db_name }}

# Configuration par rôle
{% if inventory_hostname in groups['master'] %}
master=yes
slave=no
allow-axfr-ips={{ slave_ip }}
{% else %}
master=no
slave=yes
superslave=yes
{% endif %}

# --- ACTIVATION DE L'EXPORTER PROMETHEUS ---
webserver=yes
webserver-address=0.0.0.0
webserver-port=8081

# autoriser que la VM Monitor (Prometheus) a lire les données
webserver-allow-from=10.0.20.31/32

api=yes
api-key={{ db_password }} 