---
- name: Install Promtail
  unarchive:
    src: https://github.com/grafana/loki/releases/download/v2.9.2/promtail-linux-amd64.zip
    dest: /usr/local/bin
    remote_src: yes
    creates: /usr/local/bin/promtail-linux-amd64

- name: Rename binary
  command: mv /usr/local/bin/promtail-linux-amd64 /usr/local/bin/promtail
  args:
    creates: /usr/local/bin/promtail

- name: Make executable
  file:
    path: /usr/local/bin/promtail
    mode: '0755'

- name: Create Promtail config directory
  file:
    path: /etc/promtail
    state: directory
    mode: '0755'

- name: Deploy Promtail config
  template:
    src: promtail.yaml.j2
    dest: /etc/promtail/config.yaml
  notify: Restart Promtail

- name: Create Promtail Service
  copy:
    dest: /etc/systemd/system/promtail.service
    content: |
      [Unit]
      Description=Promtail service
      After=network.target

      [Service]
      Type=simple
      User=root
      ExecStart=/usr/local/bin/promtail -config.file /etc/promtail/config.yaml

      [Install]
      WantedBy=multi-user.target

- name: Start Promtail
  systemd:
    name: promtail
    state: started
    enabled: yes
