[Interface]
# L'IP de la Gateway dans le tunnel (ex: 10.50.0.1/24)
Address = {{ vpn_network_ip }}
ListenPort = {{ vpn_port }}
PrivateKey = {{ server_private_key_base64.content | b64decode }}

MTU = 1360

# --- PEERS ---
# Admin
[Peer]
PublicKey = /871UwVy/dTkoiOgLXWIfZgE7AK40gVysciBKNMjsFs=
    AllowedIPs = 10.50.0.2/32
