---
- name: Créer le dossier pour les keyrings
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Télécharger la clé GPG Grafana (Méthode Moderne)
  get_url:
    url: https://apt.grafana.com/gpg.key
    dest: /etc/apt/keyrings/grafana.gpg
    mode: '0644'

- name: Ajouter le dépôt Grafana
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main"
    state: present
    filename: grafana

- name: Installer Grafana
  apt:
    name: grafana
    state: present
    update_cache: yes

# --- CONFIGURATION (Provisioning) ---

- name: Provisioning - Datasource Prometheus
  copy:
    dest: /etc/grafana/provisioning/datasources/prometheus.yml
    content: |
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://localhost:9090
          isDefault: true
          editable: false # On empêche la modif via GUI

- name: Provisioning - Dashboards Provider
  copy:
    dest: /etc/grafana/provisioning/dashboards/default.yml
    content: |
      apiVersion: 1
      providers:
        - name: 'Fortress Dashboards'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          updateIntervalSeconds: 30 # Check les maj fichiers toutes les 30s
          options:
            path: /var/lib/grafana/dashboards

- name: Créer le dossier de stockage des dashboards
  file:
    path: /var/lib/grafana/dashboards
    state: directory
    owner: grafana
    group: grafana
    mode: '0750'

- name: Télécharger les Dashboards depuis Grafana.com (IaC)
  # Astuce : On télécharge le JSON directement depuis l'API
  get_url:
    url: "https://grafana.com/api/dashboards/{{ item.id }}/revisions/{{ item.revision }}/download"
    dest: "/var/lib/grafana/dashboards/{{ item.name }}.json"
    owner: grafana
    group: grafana
  loop: "{{ grafana_dashboards }}"
  register: dl_dashboards

# --- SECURISATION ---

- name: Configurer grafana.ini (Sécurité)
  template:
    src: grafana.ini.j2
    dest: /etc/grafana/grafana.ini
    owner: root
    group: grafana
    mode: '0640'
  notify: Restart Grafana

- name: Démarrer Grafana
  systemd:
    name: grafana-server
    state: started
    enabled: yes