#!/usr/sbin/nft -f
flush ruleset

define MGMT_NET = {{ firewall_mgmt_net }}

table inet filter {
chain input {
type filter hook input priority 0; policy drop;

iif "lo" accept
ct state established,related accept
icmp type echo-request limit rate 10/second accept

# SSH de secours (Si Teleport casse)
tcp dport 22 ip saddr $MGMT_NET accept

# === TELEPORT (Bastion) ===
# Teleport Proxy UI (443 ou 3080 selon votre config)
tcp dport { 443, 3080 } accept
# Teleport Proxy SSH
tcp dport 3023 accept
# Teleport Proxy Tunnel / Reverse Tunnel
tcp dport { 3024, 3025 } accept

# === MONITORING & SECURITY ===
# Node Exporter
tcp dport 9100 ip saddr $MGMT_NET accept

# Le Bastion est un point sensible, on log les drops
log prefix "[BASTION-DROP] " limit rate 5/minute
}
chain output {
type filter hook output priority 0; policy accept;
}
}