#!/usr/sbin/nft -f
flush ruleset

# -----------------------------------------------------------------------------
# VARIABLES INJECTÉES PAR ANSIBLE (JINJA2)
# -----------------------------------------------------------------------------
define WAN_IF = "{{ firewall_wan_interface }}"
define LAN_IF = "{{ firewall_lan_interface }}"

define MGMT_NET = {{ firewall_mgmt_net }}
define INFRA_NET = {{ firewall_infra_net }}
define APP_NET = {{ firewall_app_net }}
define DATA_NET = {{ firewall_data_net }}

define VPN_IF = "wg0"
define VPN_NET = 10.50.0.0/24
define BASTION_IP = 10.0.20.11

# IPs Gateway
define GW_NODES = { {{ firewall_gateway_primary }}, {{ firewall_gateway_backup }} }

# -----------------------------------------------------------------------------
# TABLE INET FILTER
# -----------------------------------------------------------------------------
table inet filter {
chain input {
type filter hook input priority 0; policy drop;

iif "lo" accept
ct state established,related accept
icmp type echo-request limit rate 10/second accept

# Autoriser le tunnel UDP entrant (Pour que les clients puissent se connecter)
# C'est le port externe (WAN)
iifname $WAN_IF udp dport {{ vpn_port }} accept

# VRRP (Keepalived)
ip protocol vrrp ip saddr $GW_NODES accept

# SSH (Seulement MGMT)
iifname $LAN_IF tcp dport 22 ip saddr $MGMT_NET accept

# DHCP Relay (UDP 67/68)
udp sport 67 udp dport 68 accept
}

chain forward {
type filter hook forward priority 0; policy drop;

ct state established,related accept

# 1. VPN -> BASTION : AUTORISÉ (SSH + HTTPS Teleport)
# On autorise l'admin sous VPN à parler au Bastion
iifname $VPN_IF oifname $LAN_IF ip daddr $BASTION_IP tcp dport { 22, 443, 3022, 3023, 3024, 3025, 3080 } accept

# === IPS SURICATA (QUEUE) ===
# ct state new part vers suricata ( à part localhost et vrrp)
ip protocol vrrp accept

# suricata sur la queue 0.
# si suricata n'est pas lancé le paquet passe quand même
ct state new queue num 0 bypass

# ===== LAN -> WAN (Sortie Internet RESTREINTE) =====
# INFRA, MGMT, APP ont le droit.
# DATA (VLAN 40) est EXPLICITEMENT EXCLU par omission.
iifname $LAN_IF ip saddr { $INFRA_NET, $MGMT_NET, $APP_NET } oifname $WAN_IF accept

# ===== INTER-VLAN (ZERO TRUST) =====

# 1. ADMIN : MGMT -> Partout (SSH, Monitoring, etc.)
iifname $LAN_IF ip saddr $MGMT_NET oifname $LAN_IF accept

# 2. INFRA : DNS/DHCP vers les autres VLANs (:53)
iifname $LAN_IF ip saddr $INFRA_NET udp dport 53 oifname $LAN_IF accept
iifname $LAN_IF ip saddr $INFRA_NET tcp dport 53 oifname $LAN_IF accept

# 3. APP -> DATA (PostgreSQL unqiuement)
iifname $LAN_IF ip saddr $APP_NET ip daddr $DATA_NET tcp dport 5432 accept

# Log des paquets rejetés
log prefix "[NFT-FWD-DROP] " limit rate 5/minute flags all counter
}

chain output {
type filter hook output priority 0; policy accept;
}
}

table ip nat {
chain postrouting {
type nat hook postrouting priority srcnat; policy accept;
# Masquerade seulement pour ceux qui ont le droit de sortir
ip saddr { $INFRA_NET, $MGMT_NET, $APP_NET } oifname $WAN_IF masquerade
}
}