- name: Installer WireGuard
  apt:
    name: ['wireguard', 'wireguard-tools']
    state: present

- name: Activer le routage IPv4 (Kernel)
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

# Gestion des clés
- name: Générer la clé privée
  shell: "wg genkey | tee /etc/wireguard/server.key | wg pubkey > /etc/wireguard/server.pub"
  args:
    creates: /etc/wireguard/server.key

- name: Lire la clé privée
  slurp:
    src: /etc/wireguard/server.key
  register: server_private_key_base64

- name: Déployer la configuration WireGuard
  template:
    src: wg0.conf.j2
    dest: /etc/wireguard/wg0.conf
    mode: '0600'
    owner: root
    group: root
  # On redémarre l'interface pour appliquer, mais on ne coupe pas tout
  notify: Restart WireGuard

- name: S'assurer que l'interface wg0 est up
  systemd:
    name: wg-quick@wg0
    enabled: yes
    state: started