global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # 1. OS Metrics (Node Exporter) - Tout le monde
  - job_name: 'node'
    static_configs:
      - targets:
{% for host in groups['all'] %}
          # On utilise l'IP définie dans l'inventaire pour éviter la dépendance DNS
          - '{{ hostvars[host]["ansible_host"] | default(host) }}:9100'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}' # Affiche l'IP ou le nom propre dans Grafana

  # 2. Process Critical (Gateway, DNS, DHCP)
  - job_name: 'process'
    static_configs:
      - targets:
{% for host in (groups['gateways'] | default([]) + groups['dns'] | default([]) + groups['dhcp'] | default([])) | unique %}
          - '{{ hostvars[host]["ansible_host"] | default(host) }}:9256'
{% endfor %}

  # 3. PowerDNS Metrics
  - job_name: 'powerdns'
    metrics_path: '/metrics'
    static_configs:
      - targets:
{% for host in groups['dns'] | default([]) %}
          - '{{ hostvars[host]["ansible_host"] | default(host) }}:8081'
{% endfor %}

  # 4. Kea DHCP Metrics
  - job_name: 'kea'
    static_configs:
      - targets:
{% for host in groups['dhcp'] | default([]) %}
          - '{{ hostvars[host]["ansible_host"] | default(host) }}:9547'
{% endfor %}