version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: diu-wish-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: api_bancaire
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  api:
    build: ./Backend
    container_name: diu-wish-api
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
    networks:
      - app-network

  frontend:
    build: ./diuwish
    container_name: diu-wish-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - api
    environment:
      API_URL: http://api:8080
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
